
    
      .btn{
          background-color:rgba(255,255,255,0.5) !important;
          margin-top: 1rem;
      }
      html{
        height:100%;
      }
      body{
          color:white;
          height:100%;
          background-repeat: no-repeat;
          background-position: center;
          background-attachment: fixed;
          background-repeat: no-repeat; /* Do not repeat the image */
          background-size: cover;
          background-image: url("https://images.pexels.com/photos/933054/pexels-photo-933054.jpeg?cs=srgb&dl=pexels-joyston-judah-933054.jpg&fm=jpg");
         
      }
      .Ad{
        align-self: center;
        align-content: center;
      }
      .form{
        width:100%;
        max-width: 30rem;
      }
      .adlink{
        margin-right:0px  !important;
      }
      .addButton{
        margin-right:.75rem;
      }
      input{
        color:white;
      }
      textarea{
        color:white;
      }